.projectOuterContainer {
  padding: 24px 128px;
}

.projects-heading {
  text-align: center;
  font-size: 38px;
  color: #ffc40a !important ;
}

.ProjectDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.credsContainer {
  margin-bottom: 32px;
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 108px;
  margin-top: 54px;
}

.card-body {
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(192, 192, 192,0.7);
  color: #080808;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding: 18px 48px;
}

.card-link {
  /* margin: 10px 10px; */
  
  font-size: 16px;
  color: #080808;
  text-decoration: none;
  display: flex;
align-items: center;
}
.projectcard-icons {
  display: flex;
  gap: 18px;
  flex-flow: row wrap;
}
.card-link:hover {
  color: #af9439;
  transform: scale(1.1);
}
.card-tech {
  color: #af9439;
}
.card-title {
  font-weight: bolder;
  font-size: 24px;
}
.card-text {
  font-size: 16px;
}

.techUsed{
  font-size: 16px;
}

.giticon {
  margin-right: 5px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.card-d {
  flex: 7;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card-i {
  flex: 1;
  display: flex;
  justify-content: center;
}
.project-img {
  width: 340px;
  height: 200px;
  margin: 20px;
}

@media screen and (max-width: 1024px) {

  .projects-heading{
    font-size: 28px;
  }

  .projectOuterContainer {
    padding: 18px 16px;
  }

  .ProjectDescriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .credsContainer {
    margin-bottom: 32px;
  }

  .projectCardContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
    margin-top: 28px;
  }

  .card-body {
    border-radius: 4px;
    overflow: hidden;
    background-color: rgba(192, 192, 192,0.7);
    color: #080808;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 16px;
  }

  .card-title {
    font-weight: bolder;
    font-size: 20px;
  } 

  .card-text {
    font-size: 14px;
  }

  
.techUsed{
  font-size: 14px;
}
.card-link {
  font-size: 14px;
}
.giticon {
  margin-right: 5px;
  cursor: pointer;
  width: 18px;
  height: 18px;
}

  .project-img {
    width: 250px;
    height: 170px;
  }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .projects-heading{
    font-size: 32px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .projects-heading{
    font-size: 36px;
  }

}
