.Tech {
  padding: 20px 0px 30px;
}

.skillsHeading{
  color:#FFc40a !important;
  font-size: 48px; 
}

.softskills {
  margin-top: 60px;
  margin-bottom: 50px;
}

.softskills div ul li {
  list-style-type: disc;
  margin: 20px 0px 0px 30px;
}



.row6{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}


.gridicon {
  margin: 40px 0px ;
  flex: 1;
  transition: 1s;
  animation: icon1 1s linear 1;
}
.gridicon img{
  width: 75px;
  height: fit-content;
}

@media screen and (max-width:700px) {
 
  .gridicon {
    margin: 25px 0;
    width: fit-content;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center; 
    animation: icon1 1s linear 1;
    
  }
  .gridicon img {
    margin-bottom: 2.5em;
    margin-left: 10px;
    margin-right: 2px;
    width: 50px;
  }
}


.gridicon span {
  color: #c0c0c0;
  margin-left: 1em;
  font-size: 21px;
  font-weight: 700;
}





@media screen and (max-width: 768px) {}


@media screen and (min-width: 481px) and (max-width: 768px) {}


@media screen and (min-width: 769px) and (max-width: 1024px) {}


@media screen and (min-width: 1025px) and (max-width: 1300px) {}






