/* --------------------OverAll------------------------ */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #080808;
  color: antiquewhite;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MinAndMAxDimention {
  min-height: calc(100vh - 97px);
  /* min-height: 100vh; */
  width: 100%;
  max-width: 1800px;
}

@media screen and (max-width: 768px) {
.MinAndMAxDimention {
  min-height: calc(100vh - 60px);
 
}
}


/* -----------------credits--------------- */
#credits {
  background-color: #af9439;
  text-align: center;

  color: #080808;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  max-width: 1800px;
}
